<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
        <h1>Area Code Lookup</h1>
        <form class="form-search">
        <label for="inputAreaCode" class="sr-only">Area Code</label>
        <input type="name" name="inputAreaCode" id="inputAreaCode" class="form-control" placeholder="Enter Area Code" length="3" required autofocus>
    
         
        <button id="btnSearch" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
      </form>
      </div>
      <div class="row">
        <div id="ac-output" class="col-sm-6"></div>
        <div id="ac-map" class="col-sm-6"></div>
      <div>
{% endblock %}
